### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

# Dependency directories
node_modules
bower_components

*.sublime*

psd
thumb
sketch

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### WebStorm+all Patch 
.idea/

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
